@page
@model KE03_INTDEV_SE_1_Base.Pages.BestellenModel
@{
	ViewData["Title"] = "Bestellen";
}

<h2> Voer hier uw gegevens in:</h2>

<form action="/action_page.php">
	<label for="fname">Voornaam:</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label for="lname">Achternaam:</label>
	<input type="text" id="lname" name="lname"><br><br>
	<label for="fname">Land</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label for="fname">Postcode</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label for="fname">Huisnummer</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label for="fname">Straat</label>
	<input type="text" id="fname" name="fname"><br><br>
	<label for="fname">Plaats</label>
	<input type="text" id="fname" name="fname"><br><br>
</form>
<form method="post" asp-page-handler="Betalen">
	<button onclick="location.href='Betaalt';" class="btn btn-outline-success">Betalen</button>
</form>

