@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ImageOnderdelen"> 
   <div class="herotext">
        <h1> Welkom bij Matrix inc</h1>
        <p>Voor al uw mechanische onderdelen.</p>
   </div>
</div>

<br />
<div>
    <h3>Populaire producten:</h3>
    <hr />
     
</div>


<div class="card">
       <h1>Nebuchadnezzar</h1>
    <p class="price">$10000</p>
    <p>Het schip waarop Neo voor het eerst de echte wereld leert kennen</p>
    <p><button onclick="addToCart('Nebuchadnezzar', 100000)">Add to cart</button></p>
</div>



<table class="table"> 
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
            <th>Active</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>
            <td>@Html.DisplayName(c.Active.ToString())</td>
        </tr>
    }
</table>