@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ImageOnderdelen"> 
   <div class="herotext">
        <h1> Welkom bij Matrix inc</h1>
        <p>Voor al uw mechanische onderdelen.</p>
   </div>
</div>

<br />
<div>
    <h3>Categorieën:</h3>
    <hr />
     
</div>

<div class="Categorieën">
    @foreach (var category in Model.Categories)
    {
        <div class="card">
            <h5 class="card-title">@category.Name</h5>
            <p class="card-text">Bekijk onze producten in deze categorie.</p>
            <a href="/Products?categoryId=@category.Id" class="btn btn-primary">Bekijk producten</a>
        </div>
    }
</div>




<!--


<table class="table"> 
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
            <th>Active</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>
            <td>@Html.DisplayName(c.Active.ToString())</td>
        </tr>
    }
</table>
-->