@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ImageOnderdelen"> 
   <div class="herotext">
        <h1> Welkom bij Matrix inc</h1>
        <p>Voor al uw mechanische onderdelen.</p>
   </div>
</div>

<br />
<div>
    <h3>Categorieën:</h3>
    <hr />
     
</div>

<div class="Categorieën">
        <div class="card"> 
        <img class="ImageC" src="~/images/Vliegtuig.jpg" alt="Voertuigen" />
        <h5>Voertuigen</h5>
        <a asp-page="/ProductVanCategorie"
           asp-route-categoryId="0"
           class="btn btn-primary">
            Bekijk producten
        </a>
    </div>

    <div class="card">
        <img class="ImageC"  src="~/images/werkMee.jpg" alt="Meubels" />
        <h5>Meubels</h5>
        <a href="/Products?categoryId="1" class="btn btn-primary">Bekijk producten</a>        
    </div>

    <div class="card">
        <img class="ImageC"  src="~/images/Naamloos.jpg" alt="Wapentuig" />
        <h5>Wapentuig</h5>
        <a href="/Products?categoryId="2" class="btn btn-primary">Bekijk producten</a>
    </div>
</div>




<!--


<table class="table"> 
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
            <th>Active</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>
            <td>@Html.DisplayName(c.Active.ToString())</td>
        </tr>
    }
</table>
-->