@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--<div class="alert-info">
    <p class="p-1">
        Dit project kun je gebruiken als startpunt voor de individuele inleveropdracht: <a href="https://moodle.zuyd.nl/mod/resource/view.php?id=1262065">KE03_INTDEV_SE_1</a>

        <ul>
            <li>Wat ga je maken: Een gebruiksvriendelijk online bestelsysteem voor een klant om producten te bestellen.</li>
            <li>
                Hoe ga je dit maken?<br />
                - Individuele inleveropdracht.<br/>
                - Pas de principes van HCI toe (bijv. Paper prototyping, design principles etc…)<br />
                - Maak gebruik van: .NET core razor pages met bijbehorende zaken zoals, html, css, js, bootstrap, jquery<br />
                - Maak gebruik van git en github voor source control van jouw code<br />
            </li>
            <li>
                Je krijgt een dal (data access layer) meegeleverd. Qua inhoud is die niet perfect gevuld, maar qua structuur biedt die voldoende om een mooi bestel systeem te kunnen maken. <br /> 
                Maar mis je iets, je bent vrij om alles naar wens aan te passen! Ben creatief!
            </li>
        </ul>
    </p>
</div> -->

<div class="ImageOnderdelen"> 
   <div class="herotext">
        <h1> Welkom bij Matrix inc</h1>
        <p>Voor al uw mechanische onderdelen.</p>
   </div>
</div>
<table class="table"> 
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
            <th>Active</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>
            <td>@Html.DisplayName(c.Active.ToString())</td>
        </tr>
    }
</table>