@page
@model KE03_INTDEV_SE_1_Base.Pages.OrderHistoryModel
@{
}

Bestel geschiedenis:
<ul>
    @foreach (var order in Model.Customer.Orders)
    {
        <li>
            Order 
            <ul>
                @foreach (var product in order.Products)
                {
                    <li>@product.Name</li>
                }
            </ul>
        </li>
    }
</ul>
