@page
@model KE03_INTDEV_SE_1_Base.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Bestel geschiedenis";
}

<h1>Bestel geschiedenis:</h1>

    @foreach (var order in Model.Customer.Orders)
    {
        <div class="OrderHistory">
            <h3>Order #@order.Id</h3>
            <div>
                @foreach (var product in order.Products)
                {
                    <div>@product.Name</div>
                }
            </div>
        <div>@order.OrderDate</div>
        </div>
    }
