@page
@model KE03_INTDEV_SE_1_Base.Pages.ProductPaginaModel
@{
    ViewData["Title"] = "Producten";
}

<div class="producten">
@foreach (var i in Model.Products)
{
    <div class="ProductCard">
    <h1>@Html.DisplayName(i.Name)</h1>
    <p class="price">@Html.DisplayName($"€{i.Price.ToString()}")</p>
    <p>@Html.DisplayName(i.Description)</p>
        <form method="post" asp-page-handler="AddToCart">
            <input type="hidden" name="productId" value="@i.Id" />
            <button type="submit">Add to cart</button>
        </form>
    </div>
}
</div>