@page
@model KE03_INTDEV_SE_1_Base.Pages.WinkelwagenModel
@{
	ViewData["Title"] = "Winkelwagen";
}


<div class="WinkelWagen">
	
<div class="ProductenWinkelwagen">
<ul>
			<h2>order</h2>
	@foreach (var product in Model.Order.Products)
	{
		<li>@Html.DisplayName(product.Name) - @Html.DisplayName($"€{product.Price.ToString()}")</li>
	}
</ul>

<button onclick="location.href='Bestellen';" class="btn btn-outline-success">
	Bestellen
</button>
</div>

<img class="AfbeeldingWinkelwagen" src="~/images/Schermafbeelding 2026-06-29 195752.png" alt="TotaalBedrag" />

</div>