@page
@model KE03_INTDEV_SE_1_Base.Pages.WinkelwagenModel
@{
	ViewData["Title"] = "Winkelwagen";
}


<div class="WinkelWagen">
	
<div class="ProductenWinkelwagen">
<div>
	<h1>Order</h1>
	<div>
	@foreach (var product in Model.Order.Products)
	{
		<div class="Blokje"> 
		<div class="WinkelwagenProduct">
		<div class="square"></div>
		<div>@Html.DisplayName(product.Name)</div>
		<img class="favoriet" src="/images/hartje.png" alt="Favoriet"/>
		<div class="close">x</div>
		</div>
		<div class="WinkelwagenProduct">
			<p class="aantal">- 1 +</p>
			<div>@Html.DisplayName($"€{product.Price.ToString()}") </div>
		</div>
		</div>
		
	}
	</div>
</div>

</div>
<div class="TotaalBedragWinkelwagen">
	<h1>Overzicht</h1>
	<div class="TotaalOverzicht">
		<div class="TotaalBlokje">
				<h4>Totaal artikelen</h4>
				<h4> €@Model.totaalbedrag</h4>
		</div>
		<div class="TotaalBlokje">
				<h4>Verzendkosten</h4>
				<h4>€3,95</h4>
		</div>
		
		<h4>Kortingscode</h4>
			<div class="dropdown show">
				<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown link
				</a>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="#">Vul hier uw Kortingscode in:
						<input type="text" name="Kortingscode" value="" />
						<button class="btn btn-primary">Invoeren</button>
					</a>
				</div>
			</div>
			</div>
		<div class="TotaalBlokje">
			<h4>Totaal bedrag</h4>
			<h4>€@Model.totaalVerzendBedrag</h4>
		</div>
            <button onclick="location.href='Bestellen';" class="btn btn-outline-success">
                Bestellen
			</button>
	</div>
</div>
